{% extends 'header.html' %}

{% block head %}


<title>Income Estimator</title>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-6 col-sm-12 col-xs-6 col-lg-6">


        <form action="/predict" method="post">
            <legend>Income Estimation Form</legend>
            <div class="mb-3">
                <label class="form-label">Age</label>
                <input class="form-control" type="number" name="age" placeholder="Enter age"
                    required />                            
            </div>
            <div class="mb-3">
                <label class="form-label">Workclass</label>
                <select class="form-control" name="workclass" placeholder="Enter  workclass"
                    required>

                    <option value="State-gov">
                        State-gov
                    </option>
                    <option value="Self-emp-not-inc">
                        Self-emp-not-inc
                    </option>
                    <option value="Private">
                        Private
                    </option>
                    <option value="Federal-gov">
                        Federal-gov
                    </option>
                    <option value="Local-gov">
                        Local-gov
                    </option>
                    <option value="Self-emp-inc">
                        Self-emp-inc
                    </option>
                    <option value="Without-pay">
                        Without-pay
                    </option>
                    <option value="Never-worked">
                        Never-worked
                    </option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">fnlwgt</label>
                <input class="form-control" type="number" name="fnlwgt" placeholder="Enter a value of fnlwgt"
                    placeholder="Enter a value of fnlwgt"
                    required />

            </div>
            <div class="mb-3">
                <label class="form-label">Education Num</label>
                <input class="form-control" type="number" name="education_num" placeholder="Enter a value of Education num"
                    required />
            <div class="mb-3">
                <label class="form-label">Marital Status</label>
                <select class="form-control" name="marital_status" placeholder="Enter a value of marital_status"
                   required>
        
                    <option value="Never-married">
                         Never-married
                    </option>
                    <option value="Married-civ-spouse">
                        Married-civ-spouse
                    </option>       
                    <option value="Divorced">
                        Divorced
                    </option> 
                    <option value="Married-spouse-absent">
                        Married-spouse-absent
                    </option> 
                    <option value="Separated">
                        Separated
                    </option> 
                    <option value="Married-AF-spouse">
                        Married-AF-spouse
                    </option> 
                    <option value="Widowed">
                        Widowed
                    </option> 
                </select>
            </div>    

            <div class="mb-3">
                <label class="form-label">Occupation</label>
                <select class="form-control" name="occupation" placeholder="Enter a value of occupation"
                    required>
                
                    <option value="Adm-clerical">
                         Adm-clerical
                    </option>
                    <option value="Exec-managerial">
                        Exec-managerial
                    </option>       
                    <option value="Handlers-cleaners">
                        Handlers-cleaners
                    </option> 
                    <option value="Prof-specialty">
                        Prof-specialty
                    </option> 
                    <option value="Other-service">
                        Other-service
                    </option> 
                    <option value="Sales">
                        Sales
                    </option> 
                    <option value="Craft-repair">
                        Craft-repair
                    </option>
                    <option value="Transport-moving">
                        Transport-moving
                    </option>
                    <option value="Farming-fishing">
                        Farming-fishing
                    </option>
                    <option value="Machine-op-inspct">
                        Machine-op-inspct
                    </option>
                    <option value="Tech-support">
                        Tech-support
                    </option>
                    <option value="Protective-serv">
                        Protective-serv
                    </option>
                    <option value="Armed-Forces">
                        Armed-Forces
                    </option>
                    <option value="Priv-house-serv">
                        Priv-house-serv
                    </option> 
                </select>     
        
            </div>
            
            <div class="mb-3">
                <label class="form-label">Relationship</label>
                <select class="form-control" type="text" name="relationship"
                    placeholder="Enter a value of relationship" required >
                    <option value="Husband">
                        Husband
                  </option>
                  <option value="Wife">
                      Wife
                  </option>
                  <option value="Unmaried">
                    Unmarried
                </option>  
                <option value="Not-in-family">
                    Not-in-family
                </option>  
                <option value="Own-child">
                    Own-child
                </option>
                <option value="Other-relative">
                    Other-relative
                </option>        
              </select>     
            </div>

            <div class="mb-3">
                <label class="form-label">race</label>
                <select class="form-control" type="text" name="race" placeholder="Enter a value of race"
                    required >
                <option value="White">
                    White
                </option>
                <option value="Black">
                       Black
                </option> 
                </select>       
            </div>
            <div class="mb-3">
                <label class="form-label">sex</label>
                <select class="form-control" type="text" name="sex" placeholder="Enter a value of sex"
                    required >
                    <option value="Female">
                        Female
                    </option>
                    <option value="Male">
                           Male
                    </option> 
                    </select>     
            
            </div>
            <div class="mb-3">
                <label class="form-label">capital_gain</label>
                <input class="form-control" type="number" name="capital_gain" placeholder="Enter a value of capital_gain"
                    required />
            </div>
            <div class="mb-3">
                <label class="form-label">capital_loss</label>
                <input class="form-control" type="number" name="capital_loss" placeholder="Enter a value of capital_loss"
                    required />
            </div>
            <div class="mb-3">
                <label class="form-label">hours_per_week</label>
                <input class="form-control" type="number" name="hours_per_week" placeholder="Enter a value of hours_per_week"
                    required />
           
            </div>
            <div class="mb-3">
                <label class="form-label">native_country</label>
                <select class="form-control" type="text" name="native_country" placeholder="Enter a value of native_country" 
                    required />
                    <option value="United-States">
                        United-States
                    </option>
                    <option value="India">
                        India
                    </option>
                    <option value="England">
                        England
                    </option>
                    <option value="Mexico">
                        Mexico
                    </option>
                    <option value="Itlay">
                        Itlay
                    </option>

                </select>

            <div class="mb-3">

                <input class="btn btn-primary" type="submit" value="Predict Adult Income" required />
            </div>

        </form>
    </div>

    <div class="col-md-6 col-sm-12 col-xs-6 col-lg-6">
        <div class="card">
            <div class="card-header">
              Adult Income
            </div>
            <div class="card-body">
        {% if context['income_data'] is not none %}
        <table class="table table-striped">
            <caption>Adult Income Prediction </caption>
            <tr>
                <th>Input Feature</th>
                <th>Feature Value</th>

            </tr>
            {% for column,value in context['income_data'].items() %}



            <tr>
                <td>{{column}}</td>
                <td>{{value[0]}}</td>
            </tr>

            {% endfor %}
            <tr>

                <td>wage</td>
                <td>
                    {% if context['wages']==1 %}
                    Greater than 50k
                    {% elif context['wages'] ==0 %}
                    Less than or equal to 50k 
                    {% endif %}   
                </td>
            </tr>
        </table>

        {% else %}
       
              <h5 class="card-title">Submit Form</h5>
              <p class="card-text">Kindly provide necessary information to estimate adult income</p>
            
         

        {% endif %}
        Go to <a href="/" class="btn btn-primary">Home</a>
    </div>
</div>
    </div>

    {% endblock %}